@font-face {
  font-family: 'Fredoka';
  src: url('./assets/Fredoka-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('./assets/Fredoka-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('./assets/Fredoka-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: 'Fredoka';
  font-weight: 400;
  font-size: 2.3ch;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  position: fixed;
  inset: 0;
}

body {
  background: khaki;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.calc-container {
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 18rem;
  position: relative;

  & .calc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
    font-size: 2ch;

    &>div {
      border: 2px solid #161619;
      background: snow;
      border-radius: 200px;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & .game-info {
    font-size: 1.6ch;
    flex: 0.75;
    text-align: center;
  }
}

main {
  flex: 1;
  width: 100%;
  max-width: 72rem;
  position: relative;
  display: flex;
  overflow: hidden;
}

#screen {
  border: 2px dashed #16161d;
  width: 95%;
  margin: 0 auto 0.5rem;
}

#about-content {
  margin: auto;
  padding: 1rem;
  line-height: 1.5;
  font-family: serif;
  max-width: 62rem;
  width: 95%;

  & span {
    font-size: 2rem;
  }

  & p {
    font-size: clamp(0.85rem, 1rem, 1.3rem);
    margin: 1rem 0 2rem;
  }
}

.controls {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .controls {
    display: flex;
    gap: 0.3rem;
  }
}

.ctrl-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &.up-down {
    flex-direction: column;
    gap: 0.3rem;
  }
}

button.ctrl-btn {
  all: unset;
  display: flex;

  width: 2rem;
  height: 2rem;
  background-color: #FFFAFAC0;
  box-shadow: 0 4px 0 #24220140;
  font-size: 1.25rem;
  text-align: center;
  vertical-align: middle;

  & span {
    width: inherit;
    height: inherit;
  }

  &.up span {
    transform: rotate(-90deg);
  }

  &.down span {
    transform: rotate(90deg);
  }

  &.left span {
    transform: rotate(180deg);
  }
}