:root {
  font-family: sans-serif;
  font-size: 2.3ch;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100dvh;
  background: khaki;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 1fr;
}

#about-content {
  margin: auto;
  padding: 1rem;
  line-height: 1.5;
  font-family: serif;
  max-width: 62rem;
  width: 95%;

  & span {
    font-size: 2rem;
  }

  & p {
    font-size: clamp(0.85rem, 1rem, 1.3rem);
    margin: 1rem 0 2rem;
  }
}

.about-sec {
  grid-row: 1;
  width: 100%;
  height: 100%;
  background-color: snow;
  display: grid;
  grid-template-columns: 0.2fr 2fr;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;


  & #dialog-btn {
    grid-column: 1;
    text-align: center;
    font-size: inherit;
  }

  & span {
    grid-column: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #fffafa;
    box-shadow: inset 6px 6px 12px #e6e1e1,
      inset -6px -6px 12px #f4f0f0;
  }
}

#screen {
  grid-row: 2;
  grid-column: 1;
  touch-action: none;
}

button {
  all: unset;
  border: 1px solid #161619;
  border-radius: 5px;
  padding: 0.25rem 1.25rem;
  cursor: pointer;
  transition: background 0.1s, color 0.15s;
  font-family: sans-serif;

  &:hover {
    background-color: #16161930;
    text-shadow: 0px 2px #16161d60;
  }
}